<div class="body">
    <div class="mat-elevation-z2 container">
        <div class="create">
            <h1>Cursos</h1>
            <button class="button" (click)="adicionarNovoCurso()" mat-stroked-button color="primary"> + ADICIONAR
            </button>
           
        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="idCurso">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idCurso}} </td>
            </ng-container>
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> CATEGORIA </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>
            <ng-container matColumnDef="dataAbertura">
                <th mat-header-cell *matHeaderCellDef> DT. ABERTURA </th>
                <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
            </ng-container>
            <ng-container matColumnDef="dataFechamento">
                <th mat-header-cell *matHeaderCellDef> DT. FECHAMENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.dataFechamento}} </td>
            </ng-container>
            <ng-container matColumnDef="qtdAluno">
                <th mat-header-cell *matHeaderCellDef> QUANTIDADE</th>
                <td mat-cell *matCellDef="let element"> {{element.qtdAluno}} </td>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="update-cursos/{{ element.idCurso }}">
                        <i id="edit" class="material-icons">edit</i>
                    </a>
                    <a [routerLink]="['/delete-cursos', element.idCurso]">
                        <i id="delete" class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>
</div>