.container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.form {
    width: 25%;
    margin: auto;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    background-color: #A1E1FA;
    font-size: 1.2rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

button {
    width: 100%;
    margin-bottom: .5rem;
}

