<mat-toolbar class="header mat-elevation-z8">
    <div class="logo">
        <!-- <img src="/assets/img/logo.png" alt=""> -->
    </div>
    <div class="home">
        <div class="navigation">
            <ul>
                <li>
                    <a routerLink="/">
                        <span class="icon"><mat-icon>find_in_page</mat-icon></span>
                        <span class="opcao">Cursos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>
